.App {
  text-align: center;
}

.face img {
  max-width: 200px;
  height: auto;
  margin: auto;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.score {
  margin-top: 20px;
  font-size: 18px;
}

.large-image {
  max-width: 200px;
}
